h1{
  font-size: 50px;
}

h3{
  color: crimson;
  font-weight: bolder;
}

div.dog{
  width: 200px;
  height: 500px;
  float: left;
  border: 10px solid crimson;
  background-color: black;
  padding: 3%;
}

div.dog img{
  width: 200px;
  height: 200px;
}

div.dog p{
  color: white;
}

body{
  margin: 5%;
}